[user]
	email = david@brickabode.com
	name = DavidPotolski
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    s = status

[credential]
	help = store --file ~/covario/railway-orders/.gitcredentials
	helper = store
