[user]
	email = david@brickabode.com
	name = David
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status
[credential]
	helper = store
[credential "github.com"]
	useHttpPath = true
